* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #30302e !important;
}
.btnSearch {
  background-color: transparent !important;
  color: white !important;
}
.btnSearch,
.repo-card,
.btn-book-mark,
.btn-pagination {
  border: 1px solid #444444 !important;
  border-radius: 1em;
  transition: all 0.3s ease;
}
.repo-card:hover,
.btnSearch:hover {
  box-shadow: 0 4px 1.4em rgba(0, 0, 0, 0.4);
  transform: translateY(-1px);
}
.btnSearch:hover {
  background: rgb(92, 92, 92) !important;
  color: black;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
